---
# Deployment for MySQL
apiVersion: apps/v1
kind: Deployment
metadata:
  name: swap-deployment
  labels:
    app: swap
    tier: app
spec:
  selector:
    matchLabels:
      app: swap
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: swap
        tier: app
    spec:
      containers:
      - name: swap
        image: ascnuminho/swap
        env: # The variables below could be set on a ConfigMap object
        - name: DB_HOST
          value: mysql-service
        - name: DB_DATABASE
          value: "swap"
        - name: DB_USERNAME
          value: "swapuser"
        - name: DB_PASSWORD
          value: "123456"
        - name: MIGRATE
          value: "true"
        ports:
        - containerPort: 8000